<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>
	<h3>Add a New Course</h3>
	<form action="/courses" method="post">
	{% csrf_token %}
		<label>Name: <input type="text" name="coursename"></label>
		<label>Description: <textarea name="description"></textarea></label>
		<input type="submit" Value="Add Course">
	</form>
	<hr>
	
	<table>
		<thead>
			<tr>
				<th>Course Name</th>
				<th>Description</th>
				<th>Date Added</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for course in allcourses %}
			<tr>
				<td>{{course.name}}</td>
				<td>{{course.description}}</td>
				<td>{{course.created_at}}</td>
				<td><a href="/courses/destroy/{{course.id}}">remove</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</body>
</html>